
Usage:
    yarn export:all [options]
    npm run export:all [options]

Options:
    -h, --help,         Help for Exporting assets, libraries, and components from the './app/project/' folder
    -l, --list,         Prefix for list of file names
    --all               Select this option to export all the files

You could use Yarn / NPM to export the project code. There are two options available to export all (assets, libraries, and components):

1. Export the complete project directory from './app/project/' folder. To achieve this, use the below commands:

    yarn export:all --all 
    npm run export:all -- --all 

2. Export selected files from './app/project/' folder. In this case, the file names are mandatory in the command-prompt. The filename must follow the complete path starting from './app/project/assets/....'. Only file names can be provided here (no folder paths). Multiple file names can be provided in the command-prompt. To achieve this, use the below commands:

    yarn export:all -l ./app/project/assets/data/translation/en.json ./app/project/components/pages/page1/page1.html
    npm run export:all -- -l ./app/project/components/pages/page1/page1.html ./app/project/assets/scss/_variables.scss

You can use the tab completion for file names.
